body {
  background-color: hsl(212, 45%, 89%);
}

.container {
  width: 15%;
  margin: 250px auto 0;
  padding: 10px;
  border: 3px solid white;
  border-radius: 6px;
  background-color: white;
  text-align: center;
}

img {
  width: 100%;
  max-width: 220px;
  height: auto;
  border-radius: 6px;
}

h2 {
  text-align: center;
  font-size: 20px; /* Increased font size */
}

p {
  text-align: center;
  font-size: 15px;
}
